body{
	color: #100c08;
	background-color: #043927;
}

h1{
	color: #100c08;
	background-color: #8fbc8f;

}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

.container{
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 480px){
	.container{
		flex-direction: column;
	}
}

.column{
	color: #f4f4f9;
	justify-content: space-between;
	margin: 2px;
	padding: 2px;
	background-color: #8fbc8f;

}

li{
	background-color: #100c08;
	font-size: 1.25em;
	margin: 4px;
	padding: 4px;

	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;

}

li:hover {
	font-size: 1.5em;
}

.text {
	text-align: center;
	color: #34632c;
	font-size: 2em;
}


#links {
	width: 25%;
}

#info {
	width: 75%;
	background-color: #100c08;
	font-family: Georgia, serif;
}

@media screen and (max-width: 480px){
	.column{
		width: 100%;
	}
}

