body{
	background-color: #e9ffdb;
}

h1{
	color: #100c08;
	background-color: #8fbc8f;

}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

.container{
	display: flex;
	background-color: #8fbc8f;
}

.column{
	color: #f4f4f9;

}

.column>ul>li {
	background-color: #100c08;
	margin: 4px;
	padding: 4px;

	-webkit-transition: font-size .5s ease;
	-moz-transition: font-size .5s ease;
	-o-transition: font-size .5s ease;
	transition: font-size .5s ease;

}

.column>ul>li:hover {
	font-size: 1.5em;
}

.text {
	text-align: center;
	color: #34632c;
	font-size: 2em;
}
